In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
n_list = [11, 22 ,33 ,44 ,55 ,66]
n_list

[11, 22, 33, 44, 55, 66]

### 리스트의 인덱싱과 슬라이싱

In [4]:
a = [1, 2, 3]
a[0] + a[2]

4

### 리스트 안에 리스트도 올 수 있다.

In [5]:
a = [1, 2, 3, ['a', 'b', 'c']]
b = a[3]
print(b[2])
print(a[3][2])

c
c

### 삼중 인덱스 해보기

In [6]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0]

'Life'

#### 음수 인덱싱

In [8]:
#'a'를 음수 인덱싱을 이용해서 찾는다.
a = [1, 2, 3, ['a', 'b', 'c']]
a[-1][-3]

'a'

#### 리스트의 슬라이싱

In [9]:
a = [1, 2, 3, 4, 5]
a[0:3]

[1, 2, 3]

In [10]:
b = a[:2]
c = a[2:]
print(b,c)

[1, 2] [3, 4, 5]

### 리스트의 음수 슬라이싱

In [16]:
a = [1, 2, 3, 4, 5]
a[:-2]

[1, 2, 3]

### 리스트 연산하기

In [17]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [18]:
b+a

[4, 5, 6, 1, 2, 3]

In [19]:
#리스트 반복하기(*)
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
a*2 + b*3

[1, 2, 3, 1, 2, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6]

### 리스트 길이구하기

In [23]:
a = [1, 2, 3]
len(a)

3

### 리스트의 수정과 삭제

In [27]:
#del 키워드 사용해 리스트 요소 삭제하기
a = [ 1,2,3]
del a[1]
a

[1, 3]

In [29]:
a=[1,2,3,4,5]
del a[:2]
a

[3, 4, 5]

### 리스트 요소 제거

In [32]:
#remove(x)는 리스트에서 첫번째로 나오는 x를 삭제하는 함수이다. 
a = ['a','b','c']
a.remove('a')
a

['b', 'c']

In [33]:
a = ['a','b',[1,2,3,4,5],'c']
a[2].remove(4)

In [34]:
a

['a', 'b', [1, 2, 3, 5], 'c']

### 리스트 요소 끄집어내기(pop)

In [35]:
a = [1, 2, 3]
a.pop()

3

In [36]:
a.pop(1)

2

In [37]:
a.pop(a[:1]) #이런것은 안된다.

TypeError: 'list' object cannot be interpreted as an integer

#### 리스트 추가

In [38]:
a = [1, 2, 3]
a.append(4)

In [39]:
a

[1, 2, 3, 4]

In [42]:
a.append((1,2))

In [43]:
a

[1, 2, 3, 4, (1, 2)]

In [44]:
a.append({})

In [45]:
a

[1, 2, 3, 4, (1, 2), {}]

In [46]:
a.append('a')

In [47]:
a

[1, 2, 3, 4, (1, 2), {}, 'a']

#### 리스트에 요소 추가(insert), 리스트.insert(입력할index, 값)

In [48]:
a = [1, 2, 3]
a.insert(2,'a')

In [49]:
a

[1, 2, 'a', 3]

#### extend메소드: 리스트.extend(추가할 리스트)

In [50]:
a = [1, 2, 3]
a.extend([4,5])

In [51]:
a

[1, 2, 3, 4, 5]

##### 집합

In [53]:
a = {1,2}
b = {1}
list(a.union(b))

[1, 2]

### 리스트 정렬

In [54]:
a = [100, 200, -2, 1, 2, 3, 4, 5, 6]
a.sort()

In [55]:
a

[-2, 1, 2, 3, 4, 5, 6, 100, 200]

In [57]:
a = ['a', 'c', 'b']
a.sort()

In [58]:
a

['a', 'b', 'c']

In [64]:
a = ['성','공','김','곰']
a.sort()

In [66]:
a

['곰', '공', '김', '성']

In [67]:
a = ['성','공','김','곰','a']

In [68]:
a.sort()

In [69]:
a

['a', '곰', '공', '김', '성']

In [71]:
a.sort(reverse= 0)  #0 = False

In [72]:
a

['a', '곰', '공', '김', '성']

In [75]:
a.sort(reverse= 1)  #역순정렬   0 제외 모든 수 = True

TypeError: sort() takes no positional arguments

In [74]:
a

['성', '김', '공', '곰', 'a']

#### 리스트 뒤집기(reverse)

In [76]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

### 리스트에 포함된 요소 x의 개수 세기(count)

In [77]:
a = [1,2,3,1]
a.count(1)

2

In [78]:
a = (1,2,3,4) + (1,[1,2])

In [79]:
a

(1, 2, 3, 4, 1, [1, 2])

In [80]:
a[5][0] = 3  #이거는 리스트를 호출한 것이기 때문에, 
             #리스트 자체는 수정 가능하므로 바꿔지는것이다.

In [81]:
a

(1, 2, 3, 4, 1, [3, 2])

In [82]:
a[5] =3  # 튜플의 원소인 리스트 전체를 바꿀려고 하니 오류가 발생하게 된다.

TypeError: 'tuple' object does not support item assignment